/*! ------------------------------------------------
   Project Name: Ramio Coming Soon Template
   Project Description: Ramio - awesome coming soon template to kick-start your project
   Tags: Ramio, coming soon, under construction, template, coming soon page, html5, css3
   Version: 1.0.0
   Build Date: April 2018
   Last Update: April 2018
   This product is available exclusively on Themeforest
   Author: mix_design
   Author URI: http://mixdesign.club
   File name: first-screen-demo.css
   ------------------------------------------------

   ------------------------------------------------
   Table of Contents
   ------------------------------------------------
    1. Reset CSS
    2. Base CSS Styles
    3. Intro Styles
   ------------------------------------------------
   Table of Contents End
   ------------------------------------------------ */
/* ------------------------------------------------*/
/* Base Styles Start */
/* ------------------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

::-moz-selection {
  background-color: #4d3a8f;
  color: #40e1e8;
  text-shadow: none;
}

::selection {
  background-color: #4d3a8f;
  color: #40e1e8;
  text-shadow: none;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #1f1f1f;
  color: #616161;
}

a {
  text-decoration: none;
  color: #616161;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #121212;
  line-height: 1.2;
}

h1 span {
  color: #f3414d;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 4.8rem;
  }
}

.float-md-right {
  float: left;
}

@media only screen and (min-width: 768px) {
  .float-md-right {
    float: right;
  }
}

.float-right {
  float: right;
}

.no-padding {
  padding: 0;
}

section {
  position: relative;
  width: 100%;
}

section.intro {
  min-height: 480px;
  color: #fff;
  text-align: center;
}

/* ------------------------------------------------*/
/* Base Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Intro Styles Start */
/* ------------------------------------------------*/
.intro {
  background-color: #efefef;
  background-image: url("../img/demo/bg-1.png");
  background-position: -80px 100px;
  background-repeat: no-repeat;
  -webkit-background-size: 800px 800px;
     -moz-background-size: 800px;
          background-size: 800px;
}

@media only screen and (min-width: 768px) {
  .intro {
    background-position: center 200px;
    padding-bottom: 160px;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100%;
            background-size: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .intro {
    background-position: center 150px;
    padding-bottom: 230px;
    -webkit-background-size: 90% 90%;
       -moz-background-size: 90%;
            background-size: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  .intro {
    background-position: center 110px;
    -webkit-background-size: 84% 84%;
       -moz-background-size: 84%;
            background-size: 84%;
  }
}

@media only screen and (min-width: 1600px) {
  .intro {
    background-position: center 162px;
    padding-bottom: 400px;
    -webkit-background-size: auto auto;
       -moz-background-size: auto;
            background-size: auto;
  }
}

header {
  position: relative;
  padding: 4rem 10% 0 10%;
  z-index: 1;
}

header::after {
  clear: both;
  content: "";
  display: table;
}

header .logo {
  margin-bottom: 2.4rem;
}

header .logo img {
  width: auto;
  margin: 0 auto;
}

header .buttons {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  header .logo {
    margin-bottom: 0;
  }
  header .logo img {
    width: 150px;
    height: auto;
    margin: 0;
  }
  header .buttons {
    text-align: right;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 48px 100px 0 100px;
  }
}

@media only screen and (min-width: 1600px) {
  header {
    padding: 80px 140px 0 140px;
  }
  header .logo img {
    width: 188px;
    height: auto;
  }
  header .buttons {
    padding-top: 20px;
  }
}

.intro__content {
  position: relative;
}

.intro__content .headline {
  padding: 100px 10%;
}

@media only screen and (min-width: 768px) {
  .intro__content .headline {
    padding: 120px 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .intro__content .headline {
    padding: 92px 100px;
  }
  .intro__content .headline h1 {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1600px) {
  .intro__content .headline {
    padding: 120px 140px;
  }
  .intro__content .headline h1 {
    max-width: 700px;
    margin: 0 auto;
  }
}

.intro_illustrations {
  position: absolute;
  left: 0;
  bottom: -180px;
  width: 100%;
  height: 227px;
  overflow: hidden;
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  .intro_illustrations {
    height: 497px;
    bottom: -230px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro_illustrations {
    bottom: -354px;
    height: 671px;
  }
}

@media only screen and (min-width: 1600px) {
  .intro_illustrations {
    bottom: -450px;
    height: 941px;
  }
}

.illustration-1 {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 320px;
  height: 227px;
  background-image: url("../img/demo/bg-3.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .illustration-1 {
    width: 700px;
    height: 497px;
  }
}

@media only screen and (min-width: 1024px) {
  .illustration-1 {
    width: 946px;
    height: 671px;
  }
}

@media only screen and (min-width: 1600px) {
  .illustration-1 {
    width: 1326px;
    height: 941px;
  }
}

.illustration-2, .illustration-3, .illustration-4, .illustration-5 {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .illustration-2, .illustration-3, .illustration-4, .illustration-5 {
    display: block;
  }
}

.illustration-2 {
  position: absolute;
  left: 66px;
  top: 200px;
  width: 516px;
  height: 290px;
  background-image: url("../img/demo/bg-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1200px) {
  .illustration-2 {
    left: 48px;
    top: 140px;
    width: 360px;
    height: 202px;
  }
}

@media only screen and (min-width: 1600px) {
  .illustration-2 {
    left: 66px;
    top: 200px;
    width: 516px;
    height: 290px;
  }
}

.illustration-3 {
  position: absolute;
  left: 118px;
  top: 414px;
  width: 300px;
  height: 225px;
  background-image: url("../img/demo/bg-5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1200px) {
  .illustration-3 {
    left: 86px;
    top: 290px;
    width: 208px;
    height: 156px;
  }
}

@media only screen and (min-width: 1600px) {
  .illustration-3 {
    left: 118px;
    top: 414px;
    width: 300px;
    height: 225px;
  }
}

.illustration-4 {
  position: absolute;
  right: 60px;
  top: 240px;
  width: 516px;
  height: 290px;
  background-image: url("../img/demo/bg-7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1200px) {
  .illustration-4 {
    right: 50px;
    top: 170px;
    width: 360px;
    height: 202px;
  }
}

@media only screen and (min-width: 1600px) {
  .illustration-4 {
    width: 516px;
    height: 290px;
  }
}

.illustration-5 {
  position: absolute;
  right: -120px;
  top: 420px;
  width: 516px;
  height: 290px;
  background-image: url("../img/demo/bg-6.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1200px) {
  .illustration-5 {
    right: -80px;
    top: 280px;
    width: 360px;
    height: 202px;
  }
}

@media only screen and (min-width: 1600px) {
  .illustration-5 {
    right: -120px;
    top: 400px;
    width: 516px;
    height: 290px;
  }
}

/* ------------------------------------------------*/
/* Intro Styles End */
/* ------------------------------------------------*/
